/* RENT PAGE CSS */

/* FULL PAGE CONTAINER */
.rent-car-container {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

/* RENT CAR SEARCH */
.rent-car-search {
    margin-left: 135px;
    margin-bottom: 20px;
    width: 95%;
    display: flex;
    justify-content: center;
}

.rent-search-container {
    width: 50%;
    border: none;
    border-radius: 8px;
    display: flex;
}

/* Search input field */
.rent-car-search .rent-search-container .rent-input-container {
    width: 80%;
    position: relative;
}

.rent-car-search .rent-search-container .rent-input {
    width: 100%;
    padding: 17px;
    padding-right: 0;
    font-size: 1rem;
    border-right: none;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--text-color);
}

.rent-car-search .rent-search-container .rent-input:focus-visible {
    outline: none;
    border-right: none;
}

/* Search button styling */
.rent-car-search .rent-search-container .rent-search-button {
    height: 100%;
    width: 15%;
    padding: 17px;
    background-color: var(--accent-color);
    color: var(--card-background);
    border-left: none;
    border-radius: 0 7px 7px 0;
    border: 1px solid var(--text-color);
    z-index: 2;
}

/* Button hover effect */
.rent-car-search .rent-search-container .rent-search-button:hover {
    background-color: var(--accent-hover-color);
}

/* RENT CAR RESULTS */
.rent-car-results {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

/* RENT CAR FILTER CSS */
.rent-car-filter-card {
    width: 17%;
    background: var(--card-background);
    box-shadow: 0 2px 8px var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    height: fit-content;
}

.rent-car-filter:first-child {
    width: 100%;
}

.rent-car-filter:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.rent-car-filter:last-child {
    padding-bottom: 0;
}

/* Title styling in filter cards */
.rent-car-filter.card-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--border-color);
}

.rent-car-filter.card-title h3 {
    margin: 0px;
}

/* General filter styling */
.rent-car-filter {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading styling for each filter */
.rent-car-filter h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
}

/* Label styling in filters */
.rent-car-filter label {
    margin-right: 15px;
    color: var(--text-color);
}

/* RENT CAR RESULTS CSS */
.rent-car-list-card {
    margin-left: 30px;
    width: 75%;
    background: var(--card-background);
    box-shadow: 0 2px 8px var(--shadow-color);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
}

/* Autocomplete dropdown */
.rent-autocomplete-dropdown {
    max-height: 200px;
    top: 85%;
    overflow-y: auto;
    background: var(--card-background);
    border: 1px solid var(--accent-color);
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow-color) 0px 2px 5px;
    z-index: 10;
    position: absolute;
    width: -webkit-fill-available;
}

.rent-autocomplete-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.rent-autocomplete-item:hover,
.rent-autocomplete-item.selected {
    background: var(--hover-color);
    color: white;
}