/* SIGNUP PAGE CSS */
.signup-container {
    width: 100%;
    min-height: 884.422px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Signup Card */
.signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-background);
    padding: 2rem;
    margin-top: 70px;
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0px 0px 10px;
    text-align: center;
    max-width: 550px;
    width: 90%;
}

.signup-card h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* Signup Form */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.signup-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

.signup-form-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

.signup-form-group input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid var(--muted-text-color);
    background: var(--input-background);
    color: var(--text-color);
}

.signup-form-group:last-of-type {
    margin-bottom: 3rem;
}

.signup-form-group input::placeholder {
    color: var(--muted-text-color);
}

/* Signup Button */
.signup-form button {
    background: var(--accent-color);
    color: var(--card-background);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 80%;
    transition: 0.3s;
}

.signup-form button:hover {
    background: var(--accent-hover-color);
}

/* Login Link */
.login-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.login-link a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}