:root {
  --primary-color: #2D2D2D;
  --secondary-color: #1A1A1A;
  --accent-color: #6B8E23;
  --accent-hover-color: #8FAF3C;
  --background-color: #f3f3f3;
  --text-color: #333333;
  --muted-text-color: #777777;
  --border-color: #DDDDDD;
  --hover-nav-color: #d6d6d6;
  --hover-color: #555555;
  --card-background: #FFF;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}