:root {
  --primary-color: #2D2D2D;
  --secondary-color: #1A1A1A;
  --accent-color: #6B8E23;
  --accent-hover-color: #8FAF3C;
  --background-color: #f3f3f3;
  --text-color: #333333;
  --muted-text-color: #777777;
  --border-color: #DDDDDD;
  --hover-nav-color: #d6d6d6;
  --hover-color: #555555;
  --card-background: #FFF;
  --error-bg-color: #f8d7da;
  --error-color: #721c24;
  --success-bg-color: #d4edda;
  --success-color: #155724;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Styles */

/* Form Messages */
.form-message {
  width: 80%;
}

.form-message .message {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  text-align: center;
}

.error.message {
  background-color: var(--error-bg-color);
  border: var(--error-color) 2px solid;
  color: var(--error-color);
}

.success.message {
  background-color: var(--success-bg-color);
  border: var(--success-color) 2px solid;
  color: var(--success-color);
}