.rent-car-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 30px;
    width: 100%;
}

.rent-car-item:last-child {
    border-bottom: none;
}

/* Car Details */
.rent-car-item .car-details-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: var(--muted-text-color)
}

.car-details-container .car-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px 0;
    color: var(--text-color)
}

.car-details-container .car-details-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.car-details-container .car-details {
    font-size: 1rem;
    margin: 0 0;
}

.car-details-container .car-details-features {
    margin: 5px 0;
}

.car-details-container .car-extra-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Car Price and Actions */
.rent-car-item .car-price {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-price .car-price-text {
    width: 55%;
    margin-top: 70px;
}

.car-price .car-price-text .car-price-label {
    font-size: 1.2rem;
    margin: 0;
}

.car-price .car-price-text .car-price-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
}

.car-price .rent-btn {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.car-price .rent-btn:hover {
    background-color: var(--accent-hover-color);
}

/* Checkout car item styling */
.rent-car-item .car-image.checkout-image {
    width: 20%;
}

.rent-car-item .car-details-container.checkout-details {
    width: 70%;
}